.terminal {
    /* font-family: "Courier New", Courier, monospace; */
    /* font-size: 1.2rem; */
    color: #ffffff; /* White text */
    white-space: pre-wrap; /* Preserve spaces and line breaks */
    overflow: hidden;
    width: fit-content;
    max-width: 100%;
}

.header {
    font-size: 60px;
} 

.paragraph {
    font-size: 18px;
}

.cursor {
  display: inline-block;
  width: 1px;
  margin-left: 2px;
  color: #ffffff; /* White cursor */
}

.blinking {
  animation: smoothBlink 1s infinite;
}

.hidden {
  visibility: hidden;
}

@keyframes smoothBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
  